<!DOCTYPE html>
<html lang="en">

<head>
	<title>Après ton Bac !</title>
	<meta charset="UTF-8">
	<meta name="description" content="Labs - Design Studio">
	<meta name="keywords" content="lab, onepage, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
	<link href="img/favicon.jpg" rel="shortcut icon" />

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,700|Roboto:300,400,700" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/flaticon.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="css/style.css" />

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119405075-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-119405075-1');
	</script>



	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader">
			<img src="img/big-logo.png" alt="">
			<h2>Loading.....</h2>
		</div>
	</div>


	<!-- Header section -->
	<header class="header-section">
		<div class="logo">
			<img src="img/logo.jpg" alt="">
			<!-- Logo -->
		</div>
		<!-- Navigation -->
		<div class="responsive">
			<i class="fa fa-bars"></i>
		</div>
		<nav>
			<ul class="menu-list">
				<li class="active">
					<a href="/">Home</a>
				</li>
				
			</ul>
		</nav>
	</header>
	<!-- Header section end -->


	<!-- Intro Section -->
	<div class="hero-section">
		<div class="hero-content">
			<div class="hero-center">
				<img src="" alt="">
				<p>Rejoins nous après ton Bac !</p>
			</div>
		</div>
		<!-- slider -->
		<div id="hero-slider" class="owl-carousel">
			<div class="item  hero-item" data-bg="img/01.jpg"></div>
			<div class="item  hero-item" data-bg="img/02.jpg"></div>
		</div>
	</div>
	<!-- Intro Section -->


	<!-- About section -->
	<div class="about-section">
		<div class="overlay"></div>
		<!-- card section -->
		<div class="card-section">
			<div class="container">
				<div class="row">
					<!-- single card -->
					<div class="col-md-4 col-sm-6">
						<div class="lab-card">
							<div class="icon">
								<i class="flaticon-023-flask"></i>
							</div>
							<h2>Immersion</h2>
							<p>Prépare ton avenir autrement, moins de cours magistrale et plus de pratique. Une immersion de 3 mois pour apprendre
							à coder </p>
						</div>
					</div>
					<!-- single card -->
					<div class="col-md-4 col-sm-6">
						<div class="lab-card">
							<div class="icon">
								<i class="flaticon-011-compass"></i>
							</div>
							<h2>Orientation</h2>
							<p>Contrairement à ce que l'on pense, apprendre à coder offre plus de possibilité et ne se limite pas seulement à devenir
								développeur. 
							</p>
						</div>
					</div>
					<!-- single card -->
					<div class="col-md-4 col-sm-6">
						<div class="lab-card">
							<div class="icon">
								<i class="flaticon-037-idea"></i>
							</div>
							<h2>Réalisation</h2>
							<p>Apprends à réaliser tes projets, en réalisant des pojets! Et oui pourquoi pas, acquérir des compétences qui te qualifiera.
							</p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- card section end-->


		<!-- About contant -->
		<div class="about-contant">
			<div class="container">
				<div class="section-title">
					<h2>Rejoins
						<span>SAYNA</span> et apprends avec
						<span>The Hacking Project</span>
					</h2>
				</div>
				<div class="row">
					<div class="col-md-6">
						<p>Sayna est une entreprise social qui t'aide à t'intégrer dans le monde du digital en te formant grâce à The Hacking
							Project. C'est aussi un réseau qui t'aidera à construire un avenir professionel. Non seulement tu acquerras des compétences
							mais tu auras aussi un réseau derrière toi.
						</p>
					</div>
					<div class="col-md-6">
						<p>The Hacking Project, une nouvelle façon d'apprendre. En mode "pear learning" avec une communauté qui s'entraide. Quoi
						que, il te faudra bosser dûr et t'accrocher. Après tout, ça aurra plus de valeur si tu t'investi. </p>
					</div>
				</div>
				<div class="text-center mt60">
					<a href="" class="site-btn">Découvrir</a>
				</div>
				<!-- popup video -->
				<div class="intro-video">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<img src="img/test-man.jpg" alt="">
							<a href="img/Sayna.mp4" class="video-popup">
								<i class="fa fa-play"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- About section end -->


	<!-- Testimonial section -->
	<div class="testimonial-section pb100">
		<div class="test-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="section-title left">
						<h2>Témoignages de nos étudiants</h2>
					</div>
					<div class="owl-carousel" id="testimonial-slide">
						<!-- single testimonial -->
						<div class="testimonial">
							<span>‘​‌‘​‌</span>
							<p>Ce programme m'a aidé à mieux cadrer les étudiants, et par la même, ça m'a permit de découvrir Ruby !</p>
							<div class="client-info">
								<div class="avatar">
									<img src="img/avatar/01.jpg" alt="">
								</div>
								<div class="client-name">
									<h2>Tino Sam</h2>
									<p>Super Saiyan ultra instinct</p>
								</div>
							</div>
						</div>
						<!-- single testimonial -->
						<div class="testimonial">
							<span>‘​‌‘​‌</span>
							<p>Avant cette formation, je n'avais aucune connaissance en code. Maintenant j'ai des bases pour continuer à m'améliorer
							!</p>
							<div class="client-info">
								<div class="avatar">
									<img src="img/avatar/02.jpg" alt="">
								</div>
								<div class="client-name">
									<h2>Mino Hari</h2>
									<p>Newbie in code</p>
								</div>
							</div>
						</div>
						<!-- single testimonial -->
						<div class="testimonial">
							<span>‘​‌‘​‌</span>
							<p>Cette formation m'a permit d'approfondir mes connaissances et de vivre de ma passion, l'informatique.</p>
							<div class="client-info">
								<div class="avatar">
									<img src="img/avatar/03.jpg" alt="">
								</div>
								<div class="client-name">
									<h2>Andry Andrianjatoharinavalona </h2>
									<p>Etudiant</p>
								</div>
							</div>
						</div>
						<!-- single testimonial -->
						<div class="testimonial">
							<span>‘​‌‘​‌</span>
							<p> Mathématique et code, l'un n'empêche pas l'autre, au contraire ! </p>
							<div class="client-info">
								<div class="avatar">
									<img src="img/avatar/04.jpg" alt="">
								</div>
								<div class="client-name">
									<h2>Njaratiana</h2>
									<p>Matheux</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Testimonial section end-->


	<!-- Services section -->
	<div class="services-section spad">
		<div class="container">
			<div class="section-title dark">
				<h2>Apprends autrement</h2>
			</div>
			<div class="row">
				<!-- single service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<div class="icon">
							<i class="flaticon-023-flask"></i>
						</div>
						<div class="service-text">
							<h2>Immersion</h2>
							<p>Prépare ton avenir autrement, moins de cours magistrale et plus de pratique. Une immersion de 3 mois pour apprendre
							à coder </p>
						</div>
					</div>
				</div>
				<!-- single service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<div class="icon">
							<i class="flaticon-011-compass"></i>
						</div>
						<div class="service-text">
							<h2>Projects online</h2>
							<p>Contrairement à ce que l'on pense, apprendre à coder offre plus de possibilité et ne se limite pas seulement à devenir
							développeur. Cette formation te permettra de mieux t'orienter pour tes projets d'avenir. </p>
						</div>
					</div>
				</div>
				<!-- single service -->
				<div class="col-md-4 col-sm-6">
					<div class="service">
						<div class="icon">
							<i class="flaticon-037-idea"></i>
						</div>
						<div class="service-text">
							<h2>Réalisation</h2>
							<p>Apprends à réaliser tes projets, en réalisant des pojets! Et oui pourquoi pas, acquérir des compétences qui te qualifiera
							</p>
						</div>
					</div>
				</div>
				<!-- single service -->
				
				<!-- single service -->
				
				<!-- single service -->
				

			</div>

			<div class="text-center">
				<a href="" class="site-btn">Découvrir</a>
			</div>
		</div>
	</div>
	<!-- services section end -->


	<!-- Team Section -->
	<div class="team-section spad">
		<div class="overlay"></div>
		<div class="container">
			<div class="section-title">
				<h2>Tous les
					<span>Bacheliers</span>sont invités à rejoindre THP</h2>
				</div>
				<div class="row">
					<!-- single member -->
					<div class="col-sm-12">
						<div class="member">
							<img src="img/bachelier.jpg" alt="">
							<h5>Mino Hari</h5>
							<h5>Tino Sam</h5>
							<h5>Njaratiana</h5>
							<h5>Andry</h5>
						</div>
					</div>

					<!-- Team Section end-->


					<!-- Promotion section -->
					<div class="promotion-section">
						<div class="container">
							<div class="row">
								<div class="col-md-8">
									<h2>Prêt à t'inscrir ?</h2>
									<p></p>
								</div>
								<div class="col-md-4">
									<div class="promo-btn-area">
										<a href="" class="site-btn btn-2">Inscription</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Promotion section end-->


					<!-- Contact section -->
					<div class="contact-section spad fix">
						<div class="container">
							<div class="row">
								<!-- contact info -->
								<div class="col-md-5 col-md-offset-1 contact-info col-push">
									<div class="section-title left">
										<h2>Contactez nous</h2>
									</div>
									<p>Envoie ton CV et une Lettre de Motivation pour t'inscrir </p>
									<h3 class="mt60">Ivandry,Tananarive, Madagascar </h3>
									<p class="con-item">C/ Logement 76 Villa
										<br> - Miharisoa, </p>
										<p class="con-item">+261 34 29 093 40</p>
										<p class="con-item">hello@sayna.io</p>
									</div>
									<!-- contact form -->
									<div class="col-md-6 col-pull">
										<form class="form-class" id="con_form">
											<div class="row">
												<div class="col-sm-6">
													<input type="text" name="name" placeholder="Ton nom">
												</div>
												<div class="col-sm-6">
													<input type="text" name="email" placeholder="Ton email">
												</div>
												<div class="col-sm-12">
													<input type="text" name="Object" placeholder="Object">
													<textarea name="message" placeholder="Message"></textarea>
													<button class="site-btn">Envoyer</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- Contact section end-->


						<!-- Footer section -->
						<footer class="footer-section">
							<h2>2018 All rights reserved. Designed by Team Mada
							</footer>
							<!-- Footer section end -->




							<!--====== Javascripts & Jquery ======-->
							<script src="js/jquery-2.1.4.min.js"></script>
							<script src="js/bootstrap.min.js"></script>
							<script src="js/magnific-popup.min.js"></script>
							<script src="js/owl.carousel.min.js"></script>
							<script src="js/circle-progress.min.js"></script>
							<script src="js/main.js"></script>
						</body>

						</html>